---
layout: default
title: Биоусилитель беспроводной
description:
excerpt: "<p>Усилитель биопотенциалов, <strong>двухканальный</strong> или <strong>восьмиканальный</strong>, со <strong>встроенным акселерометром</strong>.
         Открытый <strong>стандарт данных BDF/EDF</strong>.
         <br>Беспроводной. Компактный. Для измерения энцефалограммы, окулограммы, миограммы, постоянных биопотенциалов.</p>
         <p>Акселерометер позволяет определять положения головы или тела в пространстве, а также их ускорения по трем осям.</p>"
header-img: lead1.jpg
footer-img: cats.png
footer-figcaption: перекресные <span>сно</span>Видения
categories: [fr, body]

---

<h1><a href="/ru/dreams/"> dreams </a></h1>

<div class="post">
         <ul>
             {% for category in site.categories %}
               <li><a name="{{ category | first }}">{{ category | first }}</a>
                 <ul>
                 {% for posts in category %}
                   {% for post in posts %}
                     <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                   {% endfor %}
                 {% endfor %}
                 </ul>
               </li>
             {% endfor %}
         </ul>
 </div>

 <hr>

<div class="row">
    <div class="post">
        <h2>Основные технические характеристики</h2>
        <ul>

            <li>Интерфейс связи с ПК — BlueTooth (дальность до 30 метров).</li>
            <li>2 или 8 независимых дифференциальных канала</li>
            <li>Встроенный 3-х канальный акселерометр.</li>
            <li>Разрядность АЦП: 24 бит.</li>
            <li>Диапазон входного сигнала: 500 мВ.</li>
            <li>Полоса пропускания: 0 Гц — 2 кГц. Возможность измерения постоянной составляющей.</li>
            <li>Система активного подавления синфазной помехи DRL.</li>
            <li>Уровень шума: не более 0.6 мкВ «от пика до пика».</li>
            <li>За счет полной отвязки от сети и коротких электродов наводка 50 Гц обычно отсутствует.</li>
            <li>Частота оцифровки: до 2 кГц. Настраиваемая по каналам.</li>
            <li>Контроль импеданса электродов.</li>
            <li>Питание — 3,3 - 4,5 В (1 Li-Ion батарея).</li>
            <li>Потребляемый ток 25 mA. Сутки непрерывной работы от 600 мA ч батареи.</li>
            <li>Формат данных: открытый стандарт BDF/EDF <br>(возможность использования сторонних программ для
                анализа)
            </li>
            <li>Размеры: 38х32х8 усилитель и 50X38X7 Li-Ion батарея.</li>
            <li>Вес: 10 грамм усилитель + 25 грамм батарея.</li>
        </ul>
        <div class="pullquote--center">
            Система, в частности, может быть использована как малоканальный <strong>полисомнограф</strong>
        </div>

        <p class="figure"><img src="{{ site.images }}/full.jpg" alt=""></p>
        <p class="figure"><img src="{{ site.images }}/face.jpg" alt=""></p>
        <p class="text-center"><a class="button" href="en/graphics/graphics.html">Примеры сигнала >></a></p>
    </div>
</div>




