$link-color: #c97b7b;
$link-color: #bf7777;
$link-color: #c47c8d;

$link-color: #c27c82;


// Base color theme (beige)
// ----------------------
$base-font-family: $font-family-sans-serif-light-400;

$base-intense: ccc7ba;
$base-intense: #ccc3ad;
$base-intense: #dbd1bd;
$base-intense: #e3d9c5;

$base-intense: #f2ecda;
$base-bg: #f5e9dc;

$base-bg: #f3e9dc;
$base-bg: lighten(#f0e9dc, 1);
$base-intense: darken(#f1e9dc, 2);

$base-intense: #e3d9c5;
$base-bg: #f2ecda;
$base-bg: #f5d7b8;

$base-intense: lighten(#f5d7b8, 5);

$base-bg: lighten(#f0d7b8, 10);
$base-intense: desaturate(lighten(#f5d7b8, 5), 10);


$base-text: #422d1c;
$base-text-strong: #3F3034;



$base-title: desaturate(lighten($brand-color, 20), 5) ;

$base-caption: rgba($base-text, .7);
$base-border-color: rgba(black, 0.1);




// Inverse color theme (gray)
// ----------------------

$inverse-font-family: $font-family-sans-serif-light-300;

$inverse-text: #BEC4CC;
$inverse-intense: #2D2E34;
$inverse-bg: lighten($inverse-intense, 10);
$inverse-text-strong: saturate(darken($inverse-text, 25), 4);
$inverse-text-strong: desaturate(lighten($brand-color, 30), 28);

$inverse-text: #BEC4C9;
$inverse-intense: darken(#273040, 8);
$inverse-bg: darken(#273040, 5);
$inverse-text-strong: saturate(darken($inverse-text, 30), 10);
$inverse-title: desaturate(lighten($brand-color, 50), 20);

$inverse-text: #BEC4C9;
$inverse-intense: darken(desaturate(#273040, 5), 5);
$inverse-bg: darken(desaturate(#273040, 5), 1);


$inverse-text-strong: saturate(darken($inverse-text, 30), 10);
$inverse-title: desaturate(lighten($brand-color, 50), 20);

$inverse-caption: #90939c;
$inverse-caption: rgba($inverse-text, .7);
$inverse-border-color: rgba(white, 0.05);


// Dark  color
// ----------------------

$dark: darken($inverse-intense, 3);






/*----------------------------------Colored Menu---------------------------------------------*/
$title_: #204069;
$title_: #2c456b;
$dark: #000059;

$nav: #779;

// Colors
// -------------------------

//--- kizu.ru ---
$lightyellow-bg: #fbfaf4;
$lightyellow-text: #4f4f41;


//--- mengto.com  ----
$lightblue-bg: #ECEEF2;
$lightblue-text: #252E35;
$lightblue-title: #93A0A9;


$lightgreen-bg: #D1D8B8;
$lightgreen-text: #333C16;
$lightgreen-title: #8E8E63;


$color_3: #eb3d43;
$color_4: #731132;
$color_5: #a39093;
$color_5: #ffffc7;
$color_5: #a37f84;
$color_5: #dbb8bf;
$color_5: #695454;
$color_5: #4d394b;
$color5: #303f70;

$book: #e3d4c3;
$book-text: #5c473d;
$booke-title: #402f29;
$book: #211a12;

$base-title_: #7e4646;
$base-title-strong: #6c0d0c;
$inverse-title_: #baa3a3;
$accent-color_: #d63e3b;




$link-color: #c40873;
$dark-bg: #30233d;
$light-bg: #faf4f0;
$beige-light: #f7f4f0;
$yellow-light: #fbfaf4;
$yellow-light: #fbfaee;









//-------------------------------
.dark {
    background: #2b1a0a;
    background: #080805;
    background: rgba(black, .75);
    color: #ccc;
    //text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: none;

    h1, h2, h3, h4 {
        color: white;
    }
}


.base {
    color: #464646;
    //text-shadow: 0 1px 1px white;

    figcaption, .figcaption, cite {
         color: $gray;
    }
}

.yellow {
    text-shadow: 0 1px #fff;
    background: #fbfaf4;
    color: rgba(37,34,14,0.92);
    color: #4f4f41;
 //   $bg-dark: #f0efe8;

}


.beige {
    @extend .base;
    background: #faf4f0;
}


.light {
    @extend .base;
    background: #fafaf8;
    background: lighten(#EAE7e0, 4);
}

.ibook {
    background: #f2ecda;
    color: #422d1c;
}



.dark-violet {
    @extend .dark;
    background: #30233d;

    a {
      //  color: #c40873;
    }
}

.dark-blue {
    @extend .dark;
    background: #13033d;
    background: #16204f;;

    a {
      //  color: #b30b90;
    }
}





// ----meng ----

.darkblue {
  background: #383D43;
  color: #BEC4CC;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.darkblue h1,
.darkblue h2 {
  color: #66696D;
}
.darkblue h3 {
  color: white;
}
.darkerblue {
  background: #24282C;
  color: #BEC4CC;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
.darkerblue h1,
.darkerblue h2 {
  color: #66696D;
}
.darkerblue h3 {
  color: white;
}
.lightblue {
  color: #252E35;
  background: #ECEEF2;
  text-shadow: 0 1px 1px white;
}
.lightblue h1,
.lightblue h2 {
  color: #93A0A9;
}
.lightblue h3 {
  color: #303C45;
}
.lightgreen {
  color: #333C16;
  background: #D1D8B8;
  text-shadow: 0 1px 1px white;
}
.lightgreen h1,
.lightgreen h2 {
  color: #8E8E63;
}
.lightgreen h3 {
  color: #333C16;
}
.beige {
  background: #EAE7D7;
  color: #3F3034;
  text-shadow: 0 1px 1px white;
}
.beige h1,
.beige h2 {
  color: #907264;
}
.beige h3 {
  color: #3F3034;
}



// ---- blue ----

body {
    // apple

    color: #0068d6;
     color: #000729;


     color: #003d47;
     color: #00838f;
     color: #008a96;




   color: #3b6066;
    color: #003845;

    color: #003d47;
    color: #00838f;
    color: #008a96;
    color: #ed1c23;
    color: #3F93C7;
    color: #3397b9;

    //title

    color: #60636D;


    color: #101624;
    color: #3e434f;
    color: #6a6f7a;
    color: #464c59;

    color: #b81a1f;


    //medium

        color: #171716;
    color: #333332;
    color: #a1a1a1;
    color: #a1a1a1;


    //pixir



        color: #858279;
     color: #73736a;
     color: #a1a1a1;




}



.eruditor {
    color:#134889;
	color:#710819 ;
}


jekyll {
    background: #3F1F1F;
    color: #fc0;
    color: #f90;
}



// ---- yellow ----

body {

  color: #1c1c1c;
  background: #fcfbf7;

    background: #d88b20;
    color: #fffffb;

}

a {
  color: #d88b20;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #a95942;
  text-decoration: underline;
}

hr {
  background-color: #eaeaea;
  border: 0;
  height: 1px;
  margin-bottom: 1.618em;
}

// ---- kizu.ru ----

html {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  text-align: center;
  font-size: 18px;
  color: rgba(37,34,14,0.92);
  text-shadow: 0 1px #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #fbfaf4;
}

.page_post {
  background: #f0efe8;
}
//----------------------


.hero-unit {
  padding: 40px 60px 30px 60px;
  /*background:#b94a48;*/
  color:#fff;
    background: #07095c;
    background: #6c7b91;

background: #020031;
background: -moz-linear-gradient(45deg,#020031 0%,#1D5F77 100%);
background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#020031),color-stop(100%,#1D5F77));
background: -webkit-linear-gradient(45deg,#020031 0%,#1D5F77 100%);
background: -o-linear-gradient(45deg,#020031 0%,#1D5F77 100%);
background: -ms-linear-gradient(45deg,#020031 0%,#1D5F77 100%);
background: linear-gradient(45deg,#020031 0%,#1D5F77 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020031',endColorstr='#1D5F77',GradientType=1);
-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
box-shadow: inset 0 3px 7px rgba(0,0,0,.2),inset 0 -3px 7px rgba(0,0,0,.2);
position:relative;
}

.read_more{
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background: #0f82f5;
		background-image: none;

		background-repeat: repeat-x;
		border-color: #0072e6 #0072e6 #004c99;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		filter: none;

}




/* Green Button */

#navigationMenu .home { background-position:0 0;}
#navigationMenu .home:hover { background-position:0 -39px;}
#navigationMenu .home span{
 background-color:#7da315;
 color:#3d4f0c;
 text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .about { background-position:-38px 0;}
#navigationMenu .about:hover { background-position:-38px -39px;}
#navigationMenu .about span{
 background-color:#1e8bb4;
 color:#223a44;
 text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navigationMenu .services { background-position:-76px 0;}
#navigationMenu .services:hover { background-position:-76px -39px;}
#navigationMenu .services span{
 background-color:#c86c1f;
 color:#5a3517;
 text-shadow:1px 1px 0 #d28344;
}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}
#navigationMenu .portfolio span{
 background-color:#d0a525;
 color:#604e18;
 text-shadow:1px 1px 0 #d8b54b;
}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}
#navigationMenu .contact span{
 background-color:#af1e83;
 color:#460f35;
 text-shadow:1px 1px 0 #d244a6;
}

#colorNav li.green{
  background-color:#00c08b;

  color:#127a5d;
}

#colorNav li.red{       background-color:#ea5080;color:#aa2a52;}

#colorNav li.blue{      background-color:#53bfe2;color:#2884a2;}

#colorNav li.yellow{    background-color:#f8c54d;color:#ab8426;}

#colorNav li.purple{    background-color:#df6dc2;color:#9f3c85;}


.red {color: #c00e28;}
.gray {color: #777;}
.black {color: #474747}
.gold {color: #c98a39;}
.link {color: #0274bd;}

#product {
    background-color: #5d71b8;
}
#product .container {
    /*min-height: 153px;*/
    background: url("/ruby/whatsnew/../../styles2/../img/design/bgHeader.png") no-repeat right 0;;
}
.yt #product .container,
.idea #product .container {
    background-image: none;
}
body#spec #product, body#why #product,
body#spec nav, body#why nav.fixed-menu {
    background-color: #eca344;
}
body#student #product {
    background-color: #7c9535;
    height: 207px;
}

body#products.dotnet #product, body#products.dotnet nav.fixed-menu {
    background-color: #8d4f74;
}
body#products.dtm #product, body#products.dtm nav.fixed-menu {
    background-color: #eaa343;
}
body#products.ruby #product, body#products.ruby nav.fixed-menu {
    background-color: #ac445d;
}
body#products.phpstorm #product, body#products.phpstorm nav.fixed-menu, body.mktEditable.phpstorm  #product {
    background-color: #7774b7;
}
body#products.webstorm #product, body#products.webstorm nav.fixed-menu, body.mktEditable.webstorm #product {
    background-color: #4691b1;
}
body#products.pycharm #product, body#products.pycharm nav.fixed-menu, body.mktEditable.pycharm  #product {
    background-color: #5f8961;
}
body#products.objc #product, body#products.objc nav.fixed-menu {
    background-color: #607591;
}
body#products.mps #product, body#products.mps nav.fixed-menu {
    background-color: #7e7c7d;
}
body#products.om #product, body#products.om nav.fixed-menu {
    background-color: #7c74a5;
}


body.pycharm #content .buttonDownloadNow span {
    color: #096f0b;
}
body.rs #content .buttonDownloadNow span, body.dt #content .buttonDownloadNow span, body.dotcover #content .buttonDownloadNow span, body.dotnet #content .buttonDownloadNow span, body.decompiler #content .buttonDownloadNow span {
    color: #7e255b;
}
body.rs #content .buttonDownloadNow span {
    font-size: 15px;
}
body.dt #content .buttonDownloadNow a:hover {
    text-decoration: none;
}
body.ruby #content .buttonDownloadNow span {
    line-height: 1.4em;
    color: #af0a4f;
    font-size: 160%;
}
body.phpstorm #content .buttonDownloadNow span {
    color: #4642bf;
}
body.yt #content .buttonDownloadNow span {
    font-size: 130%;
}
body.idea #content .buttonDownloadNow.community span {
    color: #395a76;
}
body.rs #subcontent .buttonDownloadNow span {
    margin-bottom: .2em;
    display: block;
    color: #7e255b;
}
body.yt #content .buttonDownloadNow span {
    color: #333;
}



#content .importance {

    background: #fffccc;
    background: #f4f6fc;
    background-color: #c9eff4;
}

.product-link:hover {
    background-color:#ebf5fe;
    border-color:#d4ebfe;
    color:#3b91cd;
    color: #ff9404;
    color: #203da3;
    background-color: #fede00;
    background-color: #4895bb;
    background-color: #808080;
    color: #0158bc;
    color: #bc7b14;
    color: #ca7d17;
    color: #f9d88c;
    color:#2386c5;
    background-color: rgba(157,181,207,.9);
    background: #b5034d;

    color : #ff0000;
    background-color: #feecec;


    color: blue;
 background-color:#d7deff;
}


#bart_wrapper.bart_notice{
    background-color:#4ea5cd;
    border-color:#3b8eb5
}
#bart_wrapper.bart_error{
    background-color:#fc1111;border-color:#c43d3d
}
#bart_wrapper.bart_warning{
    background-color:#eaaf51;border-color:#d99a36
}
#bart_wrapper.bart_success{
    background-color:#61b832;
    border-color:#55a12c
}


#content a.button_download {
    margin-bottom: .4em;
    padding: 0 0 .1em 0;
    display: block;
    position: relative;
    min-height: 47px;
    z-index: 10;
    text-align: left;
    color: #626262;
    /*font-weight: bold;*/
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #b7b7b7;
    background: -moz-linear-gradient(top,  #e4e4e4 30%, #b7b7b7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#e4e4e4), color-stop(100%,#b7b7b7));
    background: -webkit-linear-gradient(top,  #e4e4e4 30%,#b7b7b7 100%);
    background: -o-linear-gradient(top,  #e4e4e4 30%,#b7b7b7 100%);
    background: -ms-linear-gradient(top,  #e4e4e4 30%,#b7b7b7 100%);
    background: linear-gradient(to bottom,  #e4e4e4 30%,#b7b7b7 100%);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.2), 0 1px 3px 1px rgba(136,136,136,0.5);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.2), 0 1px 3px 1px rgba(136,136,136,0.5);
    -ms-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.2), 0 1px 3px 1px rgba(136,136,136,0.5);
    -o-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.2), 0 1px 3px 1px rgba(136,136,136,0.5);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2), inset 0 0 0 1px rgba(255,255,255,0.2), 0 1px 3px 1px rgba(136,136,136,0.5);
    border: 1px solid #b6b6b6;
}
#content a.button_download.small {
    min-height: 38px;
}
#content a.button_download.ruby {
    color: #490000;
    background-color: #b34762;
    background: -webkit-gradient(linear, left top, left bottom, from(#de6b92), to(#b34762));
    background: -webkit-linear-gradient(top, #de6b92, #b34762);
    background: -moz-linear-gradient(top, #de6b92, #b34762);
    background: -ms-linear-gradient(top, #de6b92, #b34762);
    background: -o-linear-gradient(top, #de6b92, #b34762);
    background: linear-gradient(top, #de6b92, #b34762);
    border: 1px solid #ad002a;
}
#content a.button_download.rs {
    color: #490000;
    background-color: #dc7fb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc7fb6), to(#b9638f));
    background: -webkit-linear-gradient(top, #dc7fb6, #b9638f);
    background: -moz-linear-gradient(top, #dc7fb6, #b9638f);
    background: -ms-linear-gradient(top, #dc7fb6, #b9638f);
    background: -o-linear-gradient(top, #dc7fb6, #b9638f);
    background: linear-gradient(top, #dc7fb6, #b9638f);
    border: 1px solid #ad2467;
}
#content a.button_download.yt {
    color: #244557;
    background-color: #4990b3;
    background: -moz-linear-gradient(top,  #5ed1e9 20%, #4990b3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#5ed1e9), color-stop(100%,#4990b3));
    background: -webkit-linear-gradient(top,  #5ed1e9 20%,#4990b3 100%);
    background: -o-linear-gradient(top,  #5ed1e9 20%,#4990b3 100%);
    background: -ms-linear-gradient(top,  #5ed1e9 20%,#4990b3 100%);
    background: linear-gradient(to bottom,  #5ed1e9 20%,#4990b3 100%);
    border: 1px solid #4c96b9;
}
#content a.button_download.ws {
    color: #153f59;
    background-color: #3e9ad2;
    background: -moz-linear-gradient(top,  #79b9e0 20%, #3e9ad2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#79b9e0), color-stop(100%,#3e9ad2));
    background: -webkit-linear-gradient(top,  #79b9e0 20%,#3e9ad2 100%);
    background: -o-linear-gradient(top,  #79b9e0 20%,#3e9ad2 100%);
    background: -ms-linear-gradient(top,  #79b9e0 20%,#3e9ad2 100%);
    background: linear-gradient(to bottom,  #79b9e0 20%,#3e9ad2 100%);
    border: 1px solid #2775a4;
}
#content a.button_download.ps {
    color: #454377;
    background-color: #7875b8;
    background: -moz-linear-gradient(top,  #a09dde 20%, #7875b8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#a09dde), color-stop(100%,#7875b8));
    background: -webkit-linear-gradient(top,  #a09dde 20%,#7875b8 100%);
    background: -o-linear-gradient(top,  #a09dde 20%,#7875b8 100%);
    background: -ms-linear-gradient(top,  #a09dde 20%,#7875b8 100%);
    background: linear-gradient(to bottom,  #a09dde 20%,#7875b8 100%);
    border: 1px solid #6a67b7;
}
#content a.button_download.mps {
    color: #535353;
    background-color: #c2c2c2;
    background: -moz-linear-gradient(top,  #cecece 20%, #a6a6a6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#cecece), color-stop(100%,#a6a6a6));
    background: -webkit-linear-gradient(top,  #cecece 20%,#a6a6a6 100%);
    background: -ms-linear-gradient(top,  #cecece 20%,#a6a6a6 100%);
    background: -o-linear-gradient(top,  #cecece 20%,#a6a6a6 100%);
    background: linear-gradient(to bottom,  #cecece 20%,#a6a6a6 100%);
    border: 1px solid #7b7b7b;
}
#content a.button_download.git {
    color: #963f00;
    background-color: #b44c00;
    background: -moz-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3d26f), color-stop(100%,#ff9000));
    background: -webkit-linear-gradient(top,  #f3d26f 0%,#ff9000 100%);
    background: -ms-linear-gradient(top,  #f3d26f 0%,#ff9000 100%);
    background: -o-linear-gradient(top,  #f3d26f 0%,#ff9000 100%);
    background: linear-gradient(to bottom,  #f3d26f 0%,#ff9000 100%);
    border: 1px solid #7b7b7b;
}
#content a.button_download.ideaUE {
    color: #233471;
    background-color: #5f73ba;
    background: -moz-linear-gradient(top,  #90a3e5 20%, #5f73ba 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#90a3e5), color-stop(100%,#5f73ba));
    background: -webkit-linear-gradient(top,  #90a3e5 20%,#5f73ba 100%);
    background: -o-linear-gradient(top,  #90a3e5 20%,#5f73ba 100%);
    background: -ms-linear-gradient(top,  #90a3e5 20%,#5f73ba 100%);
    background: linear-gradient(to bottom,  #90a3e5 20%,#5f73ba 100%);
    border: 1px solid #2d418e;
}
#content a.button_download.ideaCE {
    color: #183955;
    background-color: #4e7393;
    background: -moz-linear-gradient(top,  #8bb4d7 20%, #4e7393 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#8bb4d7), color-stop(100%,#4e7393));
    background: -webkit-linear-gradient(top,  #8bb4d7 20%,#4e7393 100%);
    background: -o-linear-gradient(top,  #8bb4d7 20%,#4e7393 100%);
    background: -ms-linear-gradient(top,  #8bb4d7 20%,#4e7393 100%);
    background: linear-gradient(to bottom,  #8bb4d7 20%,#4e7393 100%);
    border: 1px solid #2b4d6b;
}
#content a.button_download.pc {
    color: #195b1d;
    background-color: #6bb26f;
    background: -moz-linear-gradient(top,  #9adb8e 20%, #6bb26f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#9adb8e), color-stop(100%,#6bb26f));
    background: -webkit-linear-gradient(top,  #9adb8e 20%,#6bb26f 100%);
    background: -o-linear-gradient(top,  #9adb8e 20%,#6bb26f 100%);
    background: -ms-linear-gradient(top,  #9adb8e 20%,#6bb26f 100%);
    background: linear-gradient(to bottom,  #9adb8e 20%,#6bb26f 100%);
    border: 1px solid #3d8c40;
}
#content a.button_download.objc {
    color: #6c3211;
    background-color: #e9b61d;
    background: -moz-linear-gradient(top,  #e9b61d 20%, #e3730e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#e9b61d), color-stop(100%,#e3730e));
    background: -webkit-linear-gradient(top,  #e9b61d 20%,#e3730e 100%);
    background: -o-linear-gradient(top,  #e9b61d 20%,#e3730e 100%);
    background: -ms-linear-gradient(top,  #e9b61d 20%,#e3730e 100%);
    background: linear-gradient(to bottom,  #e9b61d 20%,#e3730e 100%);
    border: 1px solid #b35908;
}
#content a.button_download.ruby.small {
    /*padding: 11px 0 10px 3.6em;
    font-size: 110%;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#de6b92), to(#b34762));
    background: -webkit-linear-gradient(top, #de6b92, #b34762);
    background: -moz-linear-gradient(top, #de6b92, #b34762);
    background: -ms-linear-gradient(top, #de6b92, #b34762);
    background: -o-linear-gradient(top, #de6b92, #b34762);
    background: linear-gradient(top, #de6b92, #b34762);
}


.btn-idea-ue {
    background-color: #90a3e5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#90a3e5), color-stop(100%,#5f73ba));
    background: -webkit-linear-gradient(top,  #90a3e5 20%, #5f73ba 100%);
    background:    -moz-linear-gradient(top,  #90a3e5 20%, #5f73ba 100%);
    background:     -ms-linear-gradient(top,  #90a3e5 20%, #5f73ba 100%);
    background:      -o-linear-gradient(top,  #90a3e5 20%, #5f73ba 100%);
    background:   linear-gradient(to bottom,  #90a3e5 20%, #5f73ba 100%);
    border-color: #2d418e;
    color: #233471;
}
.btn-idea-ue:hover,
.btn-idea-ue.-hover {
    background-color: #a0b5f8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#a0b5f8), color-stop(100%,#6c82cd));
    background: -webkit-linear-gradient(top,  #a0b5f8 20%, #6c82cd 100%);
    background:    -moz-linear-gradient(top,  #a0b5f8 20%, #6c82cd 100%);
    background:     -ms-linear-gradient(top,  #a0b5f8 20%, #6c82cd 100%);
    background:      -o-linear-gradient(top,  #a0b5f8 20%, #6c82cd 100%);
    background:   linear-gradient(to bottom,  #a0b5f8 20%, #6c82cd 100%);
    color: #233471;
}
.btn-idea-ue:active,
.btn-idea-ue.-active,
.btn-idea-ue.-active:hover {
    background-color: #7086d1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7086d1), to(#92a6ef));
    background-image: -webkit-linear-gradient(top, #7086d1, #92a6ef);
    background-image:    -moz-linear-gradient(top, #7086d1, #92a6ef);
    background-image:      -o-linear-gradient(top, #7086d1, #92a6ef);
    background-image:   linear-gradient(to bottom, #7086d1, #92a6ef);
    color: #233471;
}
.btn-idea-ue.-download:before { background-position: -50px 0 }
.btn-idea-ue.-download.-small:before { background-position: 0 0 }

/* Idea CE */
.btn-idea-ce {
    background-color: #4e7393;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#8bb4d7), color-stop(100%,#4e7393));
    background: -webkit-linear-gradient(top,  #8bb4d7 20%, #4e7393 100%);
    background:    -moz-linear-gradient(top,  #8bb4d7 20%, #4e7393 100%);
    background:     -ms-linear-gradient(top,  #8bb4d7 20%, #4e7393 100%);
    background:      -o-linear-gradient(top,  #8bb4d7 20%, #4e7393 100%);
    background:   linear-gradient(to bottom,  #8bb4d7 20%, #4e7393 100%);
    border-color: #2b4d6b;
    color: #183955;
}
.btn-idea-ce:hover,
.btn-idea-ce.-hover {
    background-color: #9cc6ea;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#9cc6ea), color-stop(100%,#5a82a4));
    background: -webkit-linear-gradient(top,  #9cc6ea 20%, #5a82a4 100%);
    background:    -moz-linear-gradient(top,  #9cc6ea 20%, #5a82a4 100%);
    background:     -ms-linear-gradient(top,  #9cc6ea 20%, #5a82a4 100%);
    background:      -o-linear-gradient(top,  #9cc6ea 20%, #5a82a4 100%);
    background:   linear-gradient(to bottom,  #9cc6ea 20%, #5a82a4 100%);
    color: #183955;
}
.btn-idea-ce:active,
.btn-idea-ce.-active,
.btn-idea-ce.-active:hover {
    background-color: #5d85a7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5d85a7), to(#79a1c4));
    background-image: -webkit-linear-gradient(top, #5d85a7, #79a1c4);
    background-image:    -moz-linear-gradient(top, #5d85a7, #79a1c4);
    background-image:      -o-linear-gradient(top, #5d85a7, #79a1c4);
    background-image:   linear-gradient(to bottom, #5d85a7, #79a1c4);
    color: #183955;
}
.btn-idea-ce.-download:before { background-position: -50px -30px }
.btn-idea-ce.-download.-small:before { background-position: 0 -30px }

/* Resharper */
.btn-resharper {
    background-color: #ca71a3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d87db3), to(#bd6693));
    background-image: -webkit-linear-gradient(top, #d87db3, #bd6693);
    background-image:    -moz-linear-gradient(top, #d87db3, #bd6693);
    background-image:     -ms-linear-gradient(top, #d87db3, #bd6693);
    background-image:      -o-linear-gradient(top, #d87db3, #bd6693);
    background-image:   linear-gradient(to bottom, #d87db3, #bd6693);
    border-color: #942059;
    color: #61103f;
}
.btn-resharper:hover,
.btn-resharper.-hover {
    background-color: #eb8dc5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eb8dc5), to(#d175a5));
    background-image: -webkit-linear-gradient(top, #eb8dc5, #d175a5);
    background-image:    -moz-linear-gradient(top, #eb8dc5, #d175a5);
    background-image:     -ms-linear-gradient(top, #eb8dc5, #d175a5);
    background-image:      -o-linear-gradient(top, #eb8dc5, #d175a5);
    background-image:   linear-gradient(to bottom, #eb8dc5, #d175a5);
    color: #61103f;
}
.btn-resharper:active,
.btn-resharper.-active,
.btn-resharper.-active:hover {
    background-color: #c56c9b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c56c9b), to(#dc80b2));
    background-image: -webkit-linear-gradient(top, #c56c9b, #dc80b2);
    background-image:    -moz-linear-gradient(top, #c56c9b, #dc80b2);
    background-image:     -ms-linear-gradient(top, #c56c9b, #dc80b2);
    background-image:      -o-linear-gradient(top, #c56c9b, #dc80b2);
    background-image:   linear-gradient(to bottom, #c56c9b, #dc80b2);
    color: #61103f;
}
.btn-resharper.-download:before { background-position: -50px -210px }
.btn-resharper.-download.-small:before { background-position: 0 -210px }

/* Rubymine */
.btn-rubymine {
    background-color: #dc698f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc698f), to(#b64965));
    background-image: -webkit-linear-gradient(top, #dc698f, #b64965);
    background-image:    -moz-linear-gradient(top, #dc698f, #b64965);
    background-image:     -ms-linear-gradient(top, #dc698f, #b64965);
    background-image:      -o-linear-gradient(top, #ca71a3, #b64965);
    background-image:   linear-gradient(to bottom, #dc698f, #b64965);
    border-color: #a10027;
    color: #490000;
}
.btn-rubymine:hover,
.btn-rubymine.-hover {
    background-color: #f0779f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0779f), to(#c85573));
    background-image: -webkit-linear-gradient(top, #f0779f, #c85573);
    background-image:    -moz-linear-gradient(top, #f0779f, #c85573);
    background-image:     -ms-linear-gradient(top, #f0779f, #c85573);
    background-image:      -o-linear-gradient(top, #f0779f, #c85573);
    background-image:   linear-gradient(to bottom, #f0779f, #c85573);
    color: #490000;
}
.btn-rubymine:active,
.btn-rubymine.-active,
.btn-rubymine.-active:hover {
    background-color: #cd5978;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd5978), to(#dd6a90));
    background-image: -webkit-linear-gradient(top, #cd5978, #dd6a90);
    background-image:    -moz-linear-gradient(top, #cd5978, #dd6a90);
    background-image:     -ms-linear-gradient(top, #cd5978, #dd6a90);
    background-image:      -o-linear-gradient(top, #cd5978, #dd6a90);
    background-image:   linear-gradient(to bottom, #cd5978, #dd6a90);
    color: #490000;
}
.btn-rubymine.-download:before { background-position: -50px -120px }
.btn-rubymine.-download.-small:before { background-position: 0 -120px }

/* PhpStorm */
.btn-phpstorm {
    background-color: #dc698f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9f9cdd), to(#7b78bb));
    background-image: -webkit-linear-gradient(top, #9f9cdd, #7b78bb);
    background-image:    -moz-linear-gradient(top, #9f9cdd, #7b78bb);
    background-image:     -ms-linear-gradient(top, #9f9cdd, #7b78bb);
    background-image:      -o-linear-gradient(top, #9f9cdd, #7b78bb);
    background-image:   linear-gradient(to bottom, #9f9cdd, #7b78bb);
    border-color: #575397;
    color: #454377;
}
.btn-phpstorm:hover,
.btn-phpstorm.-hover {
    background-color: #b1adf1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1adf1), to(#8a87ce));
    background-image: -webkit-linear-gradient(top, #b1adf1, #8a87ce);
    background-image:    -moz-linear-gradient(top, #b1adf1, #8a87ce);
    background-image:     -ms-linear-gradient(top, #b1adf1, #8a87ce);
    background-image:      -o-linear-gradient(top, #b1adf1, #8a87ce);
    background-image:   linear-gradient(to bottom, #b1adf1, #8a87ce);
    color: #454377;
}
.btn-phpstorm:active,
.btn-phpstorm.-active,
.btn-phpstorm.-active:hover {
    background-color: #827fc2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#827fc2), to(#9592d4));
    background-image: -webkit-linear-gradient(top, #827fc2, #9592d4);
    background-image:    -moz-linear-gradient(top, #827fc2, #9592d4);
    background-image:     -ms-linear-gradient(top, #827fc2, #9592d4);
    background-image:      -o-linear-gradient(top, #827fc2, #9592d4);
    background-image:   linear-gradient(to bottom, #827fc2, #9592d4);
    color: #454377;
}
.btn-phpstorm.-download:before { background-position: -50px -60px }
.btn-phpstorm.-download.-small:before { background-position: 0 -60px }

/* WebStorm */
.btn-webstorm {
    background-color: #abdefa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#abdefa), to(#5b97d2));
    background-image: -webkit-linear-gradient(top, #abdefa, #5b97d2);
    background-image:    -moz-linear-gradient(top, #abdefa, #5b97d2);
    background-image:     -ms-linear-gradient(top, #abdefa, #5b97d2);
    background-image:      -o-linear-gradient(top, #abdefa, #5b97d2);
    background-image:   linear-gradient(to bottom, #abdefa, #5b97d2);
    border-color: #3077bb;
    color: #1d577b;
}
.btn-webstorm:hover,
.btn-webstorm.-hover {
    background-color: #bef3ff;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bef3ff), to(#68a8e5));
    background-image: -webkit-linear-gradient(top, #bef3ff, #68a8e5);
    background-image:    -moz-linear-gradient(top, #bef3ff, #68a8e5);
    background-image:     -ms-linear-gradient(top, #bef3ff, #68a8e5);
    background-image:      -o-linear-gradient(top, #bef3ff, #68a8e5);
    background-image:   linear-gradient(to bottom, #bef3ff, #68a8e5);
    color: #1d577b;
}
.btn-webstorm:active,
.btn-webstorm.-active,
.btn-webstorm.-active:hover {
    background-color: #6babe2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6babe2), to(#80c2f2));
    background-image: -webkit-linear-gradient(top, #6babe2, #80c2f2);
    background-image:    -moz-linear-gradient(top, #6babe2, #80c2f2);
    background-image:     -ms-linear-gradient(top, #6babe2, #80c2f2);
    background-image:      -o-linear-gradient(top, #6babe2, #80c2f2);
    background-image:   linear-gradient(to bottom, #6babe2, #80c2f2);
    color: #1d577b;
}
.btn-webstorm.-download:before { background-position: -50px -150px }
.btn-webstorm.-download.-small:before { background-position: 0 -150px }

/* PyCharm */
.btn-pycharm {
    background-color: #9adb8e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#9adb8e), color-stop(100%,#6bb26f));
    background: -webkit-linear-gradient(top,  #9adb8e 20%, #6bb26f 100%);
    background:    -moz-linear-gradient(top,  #9adb8e 20%, #6bb26f 100%);
    background:     -ms-linear-gradient(top,  #9adb8e 20%, #6bb26f 100%);
    background:      -o-linear-gradient(top,  #9adb8e 20%, #6bb26f 100%);
    background:   linear-gradient(to bottom,  #9adb8e 20%, #6bb26f 100%);
    border-color: #3d8c40;
    color: #195b1d;
}
.btn-pycharm:hover,
.btn-pycharm.-hover {
    background-color: #abef9e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#abef9e), color-stop(100%,#79c47d));
    background: -webkit-linear-gradient(top,  #abef9e 20%, #79c47d 100%);
    background:    -moz-linear-gradient(top,  #abef9e 20%, #79c47d 100%);
    background:     -ms-linear-gradient(top,  #abef9e 20%, #79c47d 100%);
    background:      -o-linear-gradient(top,  #abef9e 20%, #79c47d 100%);
    background:   linear-gradient(to bottom,  #abef9e 20%, #79c47d 100%);
    color: #195b1d;
}
.btn-pycharm:active,
.btn-pycharm.-active,
.btn-pycharm.-active:hover {
    background-color: #7bca80;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7bca80), to(#80ce84));
    background-image: -webkit-linear-gradient(top, #7bca80, #80ce84);
    background-image:    -moz-linear-gradient(top, #7bca80, #80ce84);
    background-image:      -o-linear-gradient(top, #7bca80, #80ce84);
    background-image:   linear-gradient(to bottom, #7bca80, #80ce84);
    color: #195b1d;
}
.btn-pycharm.-download:before { background-position: -50px -90px }
.btn-pycharm.-download.-small:before { background-position: 0 -90px }

.btn-pycharm-ce {
    background-color: #b5d3cb;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#b5d3cb), color-stop(100%,#86b6aa));
    background: -webkit-linear-gradient(top,  #b5d3cb 20%, #86b6aa 100%);
    background:    -moz-linear-gradient(top,  #b5d3cb 20%, #86b6aa 100%);
    background:     -ms-linear-gradient(top,  #b5d3cb 20%, #86b6aa 100%);
    background:      -o-linear-gradient(top,  #b5d3cb 20%, #86b6aa 100%);
    background:   linear-gradient(to bottom,  #b5d3cb 20%, #86b6aa 100%);
    border-color: #629977;
    color: #40704b;
}
.btn-pycharm-ce:hover,
.btn-pycharm-ce.-hover {
    background-color: #c4ebe1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#c4ebe1), color-stop(100%,#96cfc1));
    background: -webkit-linear-gradient(top,  #c4ebe1 20%, #96cfc1 100%);
    background:    -moz-linear-gradient(top,  #c4ebe1 20%, #96cfc1 100%);
    background:     -ms-linear-gradient(top,  #c4ebe1 20%, #96cfc1 100%);
    background:      -o-linear-gradient(top,  #c4ebe1 20%, #96cfc1 100%);
    background:   linear-gradient(to bottom,  #c4ebe1 20%, #96cfc1 100%);
    color: #195b1d;
}
.btn-pycharm-ce:active,
.btn-pycharm-ce.-active,
.btn-pycharm-ce.-active:hover {
    background-color: #789991;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#789991), to(#a1c5bb));
    background-image: -webkit-linear-gradient(top, #789991, #a1c5bb);
    background-image:    -moz-linear-gradient(top, #789991, #a1c5bb);
    background-image:      -o-linear-gradient(top, #789991, #a1c5bb);
    background-image:   linear-gradient(to bottom, #789991, #a1c5bb);
    color: #195b1d;
}
.btn-pycharm-ce.-download:before { background-position: -50px -90px }
.btn-pycharm-ce.-download.-small:before { background-position: 0 -90px }

/* MPS */
.btn-mps {
    background-color: #f3d26f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3d26f), color-stop(100%,#ff9000));
    background: -webkit-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:    -moz-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:     -ms-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:      -o-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:   linear-gradient(to bottom,  #f3d26f 0%, #ff9000 100%);
    border-color: #b44c00;
    color: #963f00;
}
.btn-mps:hover,
.btn-mps.-hover {
    background-color: #ffe47a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffe47a), color-stop(100%,#ffa205));
    background: -webkit-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:    -moz-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:     -ms-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:      -o-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:   linear-gradient(to bottom,  #ffe47a 20%, #ffa205 100%);
    color: #963f00;
}
.btn-mps:active,
.btn-mps.-active,
.btn-mps.-active:hover {
    background-color: #ef8904;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef8904), to(#e99f21));
    background-image: -webkit-linear-gradient(top, #ef8904, #e99f21);
    background-image:    -moz-linear-gradient(top, #ef8904, #e99f21);
    background-image:      -o-linear-gradient(top, #ef8904, #e99f21);
    background-image:   linear-gradient(to bottom, #ef8904, #e99f21);
    color: #963f00;
}
.btn-mps.-download:before { background-position: -50px -180px }
.btn-mps.-download.-small:before { background-position: 0 -180px }

/* AppCode */
.btn-appcode {
    background-color: #e9b61d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#e9b61d), color-stop(100%,#e3730e));
    background: -webkit-linear-gradient(top,  #e9b61d 20%, #e3730e 100%);
    background:    -moz-linear-gradient(top,  #e9b61d 20%, #e3730e 100%);
    background:     -ms-linear-gradient(top,  #e9b61d 20%, #e3730e 100%);
    background:      -o-linear-gradient(top,  #e9b61d 20%, #e3730e 100%);
    background:   linear-gradient(to bottom,  #e9b61d 20%, #e3730e 100%);
    border-color: #b35908;
    color: #6c3211;
}
.btn-appcode:hover,
.btn-appcode.-hover {
    background-color: #fdc622;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#fdc622), color-stop(100%,#f78513));
    background: -webkit-linear-gradient(top,  #fdc622 20%, #f78513 100%);
    background:    -moz-linear-gradient(top,  #fdc622 20%, #f78513 100%);
    background:     -ms-linear-gradient(top,  #fdc622 20%, #f78513 100%);
    background:      -o-linear-gradient(top,  #fdc622 20%, #f78513 100%);
    background:   linear-gradient(to bottom,  #fdc622 20%, #f78513 100%);
    color: #6c3211;
}
.btn-appcode:active,
.btn-appcode.-active,
.btn-appcode.-active:hover {
    background-color: #f78513;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f78513), to(#fdc622));
    background-image: -webkit-linear-gradient(top, #f78513, #fdc622);
    background-image:    -moz-linear-gradient(top, #f78513, #fdc622);
    background-image:      -o-linear-gradient(top, #f78513, #fdc622);
    background-image:   linear-gradient(to bottom, #f78513, #fdc622);
    color: #6c3211;
}
.btn-appcode.-download:before { background-position: -50px -180px }
.btn-appcode.-download.-small:before { background-position: 0 -180px }

/* YouTrack */
.btn-youtrack {
    background-color: #4a9bc0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#60cae5), to(#478fb5));
    background-image: -webkit-linear-gradient(top, #60cae5, #478fb5);
    background-image:    -moz-linear-gradient(top, #60cae5, #478fb5);
    background-image:     -ms-linear-gradient(top, #60cae5, #478fb5);
    background-image:      -o-linear-gradient(top, #60cae5, #478fb5);
    background-image:   linear-gradient(to bottom, #60cae5, #478fb5);
    border-color: #317aa0;
    color: #234558;
}
.btn-youtrack:hover,
.btn-youtrack.-hover {
    background-color: #6dddf8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6dddf8), to(#4893b8));
    background-image: -webkit-linear-gradient(top, #6dddf8, #4893b8);
    background-image:    -moz-linear-gradient(top, #6dddf8, #4893b8);
    background-image:     -ms-linear-gradient(top, #6dddf8, #4893b8);
    background-image:      -o-linear-gradient(top, #6dddf8, #4893b8);
    background-image:   linear-gradient(to bottom, #6dddf8, #4893b8);
    color: #234558;
}
.btn-youtrack:active,
.btn-youtrack.-active,
.btn-youtrack.-active:hover {
    background-color: #50a7cb;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50a7cb), to(#5dc5e3));
    background-image: -webkit-linear-gradient(top, #50a7cb, #5dc5e3);
    background-image:    -moz-linear-gradient(top, #50a7cb, #5dc5e3);
    background-image:     -ms-linear-gradient(top, #50a7cb, #5dc5e3);
    background-image:      -o-linear-gradient(top, #50a7cb, #5dc5e3);
    background-image:   linear-gradient(to bottom, #50a7cb, #5dc5e3);
    color: #234558;
}

/* InCloud and YouTrack Get */
.btn-incloud,
.btn-youtrack.-get {
    background-color: #add254;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c8dc57), to(#82af40));
    background-image: -webkit-linear-gradient(top, #c8dc57, #82af40);
    background-image:    -moz-linear-gradient(top, #c8dc57, #82af40);
    background-image:     -ms-linear-gradient(top, #c8dc57, #82af40);
    background-image:      -o-linear-gradient(top, #c8dc57, #82af40);
    background-image:   linear-gradient(to bottom, #c8dc57, #82af40);
    border-color: #75963d;
    color: #435928;
}
.btn-incloud:hover,
.btn-incloud.-hover,
.btn-youtrack.-get:hover,
.btn-youtrack.-get.-hover {
    background-color: #daef63;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#daef63), to(#96c44d));
    background-image: -webkit-linear-gradient(top, #daef63, #96c44d);
    background-image:    -moz-linear-gradient(top, #daef63, #96c44d);
    background-image:     -ms-linear-gradient(top, #daef63, #96c44d);
    background-image:      -o-linear-gradient(top, #daef63, #96c44d);
    background-image:   linear-gradient(to bottom, #daef63, #96c44d);
    color: #435928;
}
.btn-incloud:active,
.btn-incloud.-active,
.btn-incloud.-active:hover,
.btn-youtrack.-get:active,
.btn-youtrack.-get.-active,
.btn-youtrack.-get.-active:hover {
    background-color: #87b342;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#87b342), to(#b1d455));
    background-image: -webkit-linear-gradient(top, #87b342, #b1d455);
    background-image:    -moz-linear-gradient(top, #87b342, #b1d455);
    background-image:     -ms-linear-gradient(top, #87b342, #b1d455);
    background-image:      -o-linear-gradient(top, #87b342, #b1d455);
    background-image:   linear-gradient(to bottom, #87b342, #b1d455);
    color: #435928;
}
.btn-incloud.-download:before { width: 34px; height: 23px; background-position: -50px -330px; margin-top: 2px  }
.btn-incloud.-download.-small:before { width: 26px; height: 18px; background-position: 0 -330px }
.btn-youtrack.-get:before { width: 27px; height: 27px; background-position: -50px -390px }
.btn-youtrack.-get.-small:before { width: 21px; height: 21px; background-position: 0 -390px }


/* GitHub */
.btn-github,
.btn-free {
    background-color: #f3d26f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3d26f), color-stop(100%,#ff9000));
    background: -webkit-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:    -moz-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:     -ms-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:      -o-linear-gradient(top,  #f3d26f 0%, #ff9000 100%);
    background:   linear-gradient(to bottom,  #f3d26f 0%, #ff9000 100%);
    border-color: #b44c00;
    color: #963f00;

}
.btn-github:hover,
.btn-github.-hover,
.btn-free:hover,
.btn-free.-hover {
    background-color: #ffe47a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ffe47a), color-stop(100%,#ffa205));
    background: -webkit-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:    -moz-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:     -ms-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:      -o-linear-gradient(top,  #ffe47a 20%, #ffa205 100%);
    background:   linear-gradient(to bottom,  #ffe47a 20%, #ffa205 100%);
    color: #963f00;
}
.btn-github:active,
.btn-github.-active,
.btn-github.-active:hover,
.btn-free:active,
.btn-free.-active,
.btn-free.-active:hover {
    background-color: #ef8904;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef8904), to(#e99f21));
    background-image: -webkit-linear-gradient(top, #ef8904, #e99f21);
    background-image:    -moz-linear-gradient(top, #ef8904, #e99f21);
    background-image:      -o-linear-gradient(top, #ef8904, #e99f21);
    background-image:   linear-gradient(to bottom, #ef8904, #e99f21);
    color: #963f00;
}
.btn-github.-download:before { width: 31px; height: 24px; background-position: -50px -360px }
.btn-github.-download.-small:before { width: 23px; height: 19px; background-position: 0 -360px; margin-top: 2px }

/* TeamCity */
.btn-teamcity {
    background-color: #bdc7e8;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdc7e8), to(#7a8ac7));
    background-image: -webkit-linear-gradient(top, #bdc7e8, #7a8ac7);
    background-image:    -moz-linear-gradient(top, #bdc7e8, #7a8ac7);
    background-image:     -ms-linear-gradient(top, #bdc7e8, #7a8ac7);
    background-image:      -o-linear-gradient(top, #bdc7e8, #7a8ac7);
    background-image:   linear-gradient(to bottom, #bdc7e8, #7a8ac7);
    border-color: #5c6ba7;
    color: #233471;
}
.btn-teamcity:hover,
.btn-teamcity.-hover {
    background-color: #d2d9f2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d2d9f2), to(#8f9ed4));
    background-image: -webkit-linear-gradient(top, #d2d9f2, #8f9ed4);
    background-image:    -moz-linear-gradient(top, #d2d9f2, #8f9ed4);
    background-image:     -ms-linear-gradient(top, #d2d9f2, #8f9ed4);
    background-image:      -o-linear-gradient(top, #d2d9f2, #8f9ed4);
    background-image:   linear-gradient(to bottom, #d2d9f2, #8f9ed4);
    color: #233471;
}
.btn-teamcity:active,
.btn-teamcity.-active,
.btn-teamcity.-active:hover {
    background-color: #7a8ac7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7a8ac7), to(#98a6d6));
    background-image: -webkit-linear-gradient(top, #7a8ac7, #98a6d6);
    background-image:    -moz-linear-gradient(top, #7a8ac7, #98a6d6);
    background-image:     -ms-linear-gradient(top, #7a8ac7, #98a6d6);
    background-image:      -o-linear-gradient(top, #7a8ac7, #98a6d6);
    background-image:   linear-gradient(to bottom, #7a8ac7, #98a6d6);
    color: #233471;
}
.btn-teamcity.-download:before { background-position: -50px -270px }
.btn-teamcity.-download.-small:before { background-position: 0 -270px }

/* Student */
.btn-student {
    background-color: #839943;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#99af5a), to(#708630));
    background-image: -webkit-linear-gradient(top, #99af5a, #708630);
    background-image:    -moz-linear-gradient(top, #99af5a, #708630);
    background-image:     -ms-linear-gradient(top, #99af5a, #708630);
    background-image:      -o-linear-gradient(top, #99af5a, #708630);
    background-image:   linear-gradient(to bottom, #99af5a, #708630);
    border-color: #596d20;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.32);
}
.btn-student:hover,
.btn-student.-hover {
    background-color: #9eb657;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aec56f), to(#8ea941));
    background-image: -webkit-linear-gradient(top, #aec56f, #8ea941);
    background-image:    -moz-linear-gradient(top, #aec56f, #8ea941);
    background-image:     -ms-linear-gradient(top, #aec56f, #8ea941);
    background-image:      -o-linear-gradient(top, #aec56f, #8ea941);
    background-image:   linear-gradient(to bottom, #aec56f, #8ea941);
    color: #fff;
}
.btn-student:active,
.btn-student.-active,
.btn-student.-active:hover {
    background-color: #91a752;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#718240), to(#90a651));
    background-image: -webkit-linear-gradient(top, #718240, #90a651);
    background-image:    -moz-linear-gradient(top, #718240, #90a651);
    background-image:     -ms-linear-gradient(top, #718240, #90a651);
    background-image:      -o-linear-gradient(top, #718240, #90a651);
    background-image:   linear-gradient(to bottom, #718240, #90a651);
    color: #fff;
}



.btn-flat {
    margin-bottom: 5px;
    padding: 6px 16px;
    background-color: #4a95c4;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 0 0 #ebebeb;
            box-shadow: 4px 4px 0 0 #ebebeb;
    -webkit-transition: .4;
        -ms-transition: .4;
            transition: .4;
    }
.btn-flat:hover {
    background-color:#5c9fca;
    color: #fff;
    }



/*----------------------------------------------------------------*/

.article-text p {
  margin: 0 0 20px;
  font: 16px/25px "Georgia", serif;
    background: #ffffcc;
  }
.article-text p em {
  font: 18px/25px "MinionPro-SemiboldIt", serif; font-style: italic;
  }
.article-text p.large {
  font: 18px/30px "Georgia", serif;
  }
.article-text p.large em {
  font-size: 21px; line-height: 30px;
  }
.article-text p.large strong {
  font-size: 21px; line-height: 30px;
  }
.article-text p.xlarge {
  font: 36px/40px "MinionPro-Regular", serif; -webkit-font-smoothing: antialiased;
  }
.article-text p.xlarge em {
  font: 36px/40px "MinionPro-It", serif;
  }
.article-text .xlarge a { padding: 0; }
.article-text p.small {
  font-size: 12px; line-height: 20px;
  }

.article-text h2, .article-text h3, .article-text h4, .article-text h5 {
  margin: 0 0 20px;
  font-weight: normal;
  font-family: "ProximaNovaExCn-Semibold", sans-serif; -webkit-font-smoothing: antialiased;
  }
.article-text h2 {
  font-size: 38px; line-height: 40px;
  }
.article-text h3 {
  font-size: 32px; line-height: 28px;
  }
.article-text h4 {
  font-size: 24px; line-height: 30px;
  }
.article-text h5 {
  font-size: 18px; line-height: 20px; text-transform: uppercase;
  }
.article-text .strong1,
.article-text .strong2,
.article-text .strong3,
.article-text .strong4 {
  font-family: "ProximaNova-Bold", sans-serif; -webkit-font-smoothing: antialiased;
  }

.article-text .strong1 {
  font: 50px/50px "ProximaNova-Extrabld", sans-serif;
  }
.article-text .strong2 {
  font: 28px/35px "ProximaNova-Extrabld", sans-serif;
  }
.article-text .strong3 {
  font-size: 22px; line-height: 30px;
  }
.article-text .strong4 {
  font-size: 18px; line-height: 25px;
  }
.article-text .strong5 {
  font: 12px/28px "ProximaNova-Extrabld", sans-serif; -webkit-font-smoothing: antialiased; text-transform: uppercase; letter-spacing: 1px;
  }



