<div class="page-footer">
    <div class="row">
        <ul class="nav nav--decorated nav--stacked">
            {% for link in site[NAV] %}
            {% if link.folder == CATEGORY %}
            {% if page.url contains "index.html" %}
            {% assign STATE = "current" %}
            {% else %}
            {% assign STATE = "active" %}
            {% endif %}
            {% else %}
            {% assign STATE = "none" %}
            {% endif %}
            <li class="{{ STATE }}"><a href="{{ SITE_URL }}/{{ LANGUAGE }}/{{ link.folder }}">{{ link.name }}</a>
                {% endfor %}
        </ul>
    </div>
    <div class="row">
        <ul class="nav nav--central nav--decorated">
            <li class="reverse"><a class="change-theme"><span class="button-theme">&nbsp;</span></a></li>
            {% if LANGUAGE == "ru" %}
            <li><a href="{{ SITE_URL }}{{ site.home_en }}">ENG</a></li>
            {% endif %}
            {% if LANGUAGE == "en" %}
            <li><a href="{{ SITE_URL }}{{ site.home_ru }}">RUS</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="row">
        <div>
            <a href="{{ {{ SITE_URL }}{{ site[HOME] }}" class="logo">
                mixDreams
            </a>
        </div>
    </div>
</div>

<!-- end page-footer-->