{% include setup %}

{% if page.cover_img %}
{% capture COVER_IMG %} url( {{ site.img }}/{{ page.cover_img }} ){% endcapture %}
{% else %}
{% capture COVER_IMG %} url( {{ site.img }}/cover/default.jpg  ){% endcapture %}
{% endif %}

<div class="page-header" id="header" style="background-image: {{ COVER_IMG }} ">
    <div class="navbar">
            <a class="logo logo--top" id="menu">mix&nbsp; &nbsp;&#9776;<br>Dreams</a>
            <a class="logo logo--top change-theme mobile-hide">mix<br>Dreams</a>
            <ul class="nav nav--central nav--adaptive">
                {% for link in site[NAV] %}
                {% if link.folder == CATEGORY %}
                {% if page.url contains "index.html" %}
                {% assign STATE = "current" %}
                {% else %}
                {% assign STATE = "active" %}
                {% endif %}
                {% else %}
                {% assign STATE = "none" %}
                {% endif %}
                <li class="{{ STATE }}"><a href="{{ SITE_URL }}/{{ LANGUAGE }}/{{ link.folder }}">{{ link.name }}</a>
                </li>
                {% endfor %}

                <li class="mobile-only separate"><a class="change-theme"><span class="button-theme">&nbsp;</span></a>
                </li>
                <li class="mobile-only separate"><a href="{{ SITE_URL }}{{ LANGUAGE_CHANGE_URL }}">{{ LANGUAGE_CHANGE }} </a></li>
            </ul>
            <ul class="nav nav--right mobile-hide">
                <li class="separate"><a href="{{ SITE_URL }}{{ LANGUAGE_CHANGE_URL }}">{{ LANGUAGE_CHANGE }}</a></li>
            </ul>
    </div>





