<!DOCTYPE html>

{% if page.title %}
{% assign TITLE = page.title|append: " - "|append:site.title %}
{% else %}
{% assign TITLE = site.title %}
{% endif %}
{% if page.description %}
{% assign DESCRIPTION  = page.description %}
{% else %}
{% assign DESCRIPTION = site.description %}
{% endif %}

{% if page.theme contains "theme" %}
{% assign THEME = page.theme %}
{% else %}
{% capture THEME %}theme-{{ page.theme }}{% endcapture %}
{% endif %}

<html class="{{ THEME }}">
<head>
    <title>{{ TITLE }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="author" content="{{ site.author.name }}">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.css }}/style.css">
    <script src="{{ site.js }}/vendor/modernizr-2.6.2.min.js"></script>
    <!-- FancyBox..... -->
    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ site.js }}/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="{{ site.js }}/fancybox/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.css }}/fancybox.css?v=2.1.5" media="screen"/>
    <!-- End FancyBox..... -->

    <script type="text/javascript" src="{{ site.js }}/main.js"></script>
</head>
<body>




