{% include setup %}

{% assign HEADER_BG  = "none" %}
{% assign COVER  = "cover" %}


{% if page.header_img %}
    {% if page.header_img == "dark" %}
       {% assign COVER  = "cover-dark" %}
    {% else %}
       {% capture HEADER_BG %} url( {{ site.img }}/{{ page.header_img }} ){% endcapture %}
       {% assign COVER  = "cover-img" %}
    {% endif %}
{% endif %}

<div class="page-header" id="header">
    <div class="row navbar">
            <a href="{{ {{ SITE_URL }}{{ site[HOME] }}" class="logo logo--top">mix<br>Dreams</a>
            <a id="menu"></a>
            <ul class="nav nav--shift nav--adaptive">
                {% for link in site[NAV] %}
                {% if link.folder == CATEGORY %}
                {% if page.url contains "index.html" %}
                {% assign STATE = "current" %}
                {% else %}
                {% assign STATE = "active" %}
                {% endif %}
                {% else %}
                {% assign STATE = "none" %}
                {% endif %}
                <li class="{{ STATE }}"><a href="{{ SITE_URL }}/{{ LANGUAGE }}/{{ link.folder }}">{{ link.name }}</a>
                                </li>
                {% endfor %}

                <li class="reverse"><a class="change-theme"><span class="button-theme">&nbsp;</span></a>
                </li>
                {% if LANGUAGE == "ru" %}
                <li class="reverse"><a href="{{ SITE_URL }}{{ site.home_en }}">ENG</a></li>
                {% endif %}
                {% if LANGUAGE == "en" %}
                <li class="reverse"><a href="{{ SITE_URL }}{{ site.home_ru }}">RUS</a></li>
                {% endif %}
            </ul>
    </div>
    <div class="row {{ COVER }}" style="background-image: {{ HEADER_BG }} ">
        <H1>{{ TITLE }}</H1>
        {% if page.author %}
        <cite>{{ page.author }}</cite>
        {% endif %}
        {% if page.aphorism %}
        <div class="aphorism">{{ page.aphorism }}</div>
        {% endif %}
    </div>
</div>




