/************************************************************************************
   BLOCKLIST
*************************************************************************************/



// Easily usable on <ul>, <ol>, or <div>.

.blocklist {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: $gap-base;
    background: $blocklist-bg;
    border: 1px solid $blocklist-border-color;

    &:first-child {
      border-bottom: 0;
    }


    // Individual list items
    // -------------------------

    li, .blocklist__item {
        display: block;
        margin: 0;
        padding: $gap-small $gap-base;
        border-bottom: 1px solid $blocklist-border-color;

    }

    // Linked list items
    // -------------------------

    a.blocklist__item {
        color: $link-color;

        // Hover state
        &:hover,
        &:focus {
            text-decoration: none;
            background: $link-color;
            color: white;
        }

    }
}

/**  Usage examples:

<ul class="blocklist">
  <li>Cras <a href="#">justo</a> odio</li>
  <li>Dapibus ac facilisis in</li>
  <li>Morbi leo risus</li>
  <li>Porta ac consectetur ac</li>
  <li>Vestibulum at eros</li>
</ul>

** Links BlockList

<div class="blocklist">
  <a href="#" class="blocklist__item">Dapibus ac facilisis in</a>
  <a href="#" class="blocklist__item">Morbi leo risus</a>
  <a href="#" class="blocklist__item">Porta ac consectetur ac</a>
  <a href="#" class="blocklist__item">Vestibulum at eros</a>
</div>

**/