/************************************************************************************
BLOCKTEXT
*************************************************************************************/

/*
 * Blocktext - a short block of text information with paddings.
 * Can be used as a caption for img in thumbnails and media.  But also can be independent and contain img in itself.
 */

.blocktext {
    padding: $gap-base;
    padding-top: $gap-mini;
    text-align: left;

    h1, h2, h3, h4, h5, h6 {
        margin-top: $gap-base;
    }
}




/**
 * Blocktext height modifiers. Extends `.blocktext`
 * To create blocktextes of equal heights. For example in thumbnails.
 */
.blocktext--short {
    @include height($blocktext-short);
    overflow: hidden;
}


.blocktext--long {
    @include height($blocktext-long);
    overflow: hidden;
}


