/************************************************************************************
Containers:  ROW, COLUMN and FLUID
*************************************************************************************/


.row {
    @extend %clearfix;
    @extend %pull-center;
    @include max-width ($width-max);
    text-align: center;
}

/*
 * Central blocks
 *
 */
.central-wide {
    @extend %pull-center;
    @include max-width ($width-wide);
}

.central-page {
    @extend %pull-center;
    @include max-width ($width-page);
}


/*
 * COLUMNS. FLOAT
 * On small mobile screens their width = 100%
 */
.column-half, .column-third, .column-fourth {
    float: left;
    @include breakpoint(small) {
          width: 100%;
      }
}

.column-half {
    width: 50%;
}

.column-third {
    width: 33.33%;

}

.column-fourth {
    width: 25%;

}

/*
 * Special columns to form two-column page with Content and Sidebar
 *
 */

.column-content, .column-sidebar {
    float: left;
    @include breakpoint(small) {
          width: 100%;
      }
}


.column-content {
    width: 66%;
    @include breakpoint(big) {
          width: 60%;
      }
}

.column-sidebar {
    width: 34%;
    @include breakpoint(big) {
          width: 40%;
      }
}



/*
 * BOXES. INLINE blocks that fluidly arranging in one or few lines depending on the screen size.
 * On small and medium screens they are all equals ( width = $widthText ) and took their true sizes only on "big" screens
 * Used for galleries, previews and so on
 */

.box-text, .box-base, .box-small, .box-mini {
    @extend %inline-block;
    @include max-width ($width-text);
}

.box-base {
    @include breakpoint(big) {
        @include max-width ($width-media);
     }
}

.box-small {
    @include breakpoint(big) {
        @include max-width ($width-small);
     }
}

.box-mini {
    @include breakpoint(big) {
        @include max-width ($width-mini);
     }
}










