/************************************************************************************
 LOGO, BRAND
*************************************************************************************/

.logo {
    @extend %inline-block;
    font-family: $brand-font-family;
    @include font-size($logo-font-size);
    letter-spacing: 1px;
    margin: 0;
    padding: $gap-mini $gap-base;
    text-decoration: none;
    color: $logo-color;
    background: $logo-bg;


}

strong {
     font-weight: bold;
     border: 2px solid $accent-color;
 }

.brand {
    color: $accent-color;
    a {
        color: $accent-color;
    }
}
