/************************************************************************************
MEDIA
*************************************************************************************/

/**
* Place an media__object (img, video, audio) and corresponding textual content - media__body (.blocktext) side-by-side.
* Used for thumbnails, blog comments, Tweets and any page blocks with img and corresponding text
**/

/**
* Original non-responsive version like in Bootstrap
* Source: http://stubbornella.org/content/?p=497
**/



// Clear the floats
.media,
.media__body {
    overflow: hidden;
    zoom: 1;
}

.media {
    margin-top: $gap-base;

    > .media__object {
        float: left;
        margin-right: $gap-base;
        > img {
              margin-top: 0;
          }
    }
}

// Media object (img) on the right
// -------------------------------

.media--reverse {
    > .media__object {
        float: right;
        margin-right: 0;
        margin-left: $gap-base;
    }
}


// Size variatins
// -----------------------

.media--icon {
    .media__object {
       max-width: $icon;
    }
}


.media--small {
    .media__object {
        max-width: $small;
    }
}

.media--half {
    .media__object {
        max-width: 50%;
    }
}

.media--big {
    .media__object {
        max-width: $big;
    }
}

/**
*
* Change left-right-aligned to top-bottom-aligned on small screens
*
**/

.media--small, .media--half, .media--big {
    @include breakpoint(small) {
        .media__object {
            float: none;
            width: 100%;
        }
    }
}

