/************************************************************************************
 NAVIGATION
*************************************************************************************/

/**
 * NAV.
 * Navigation abstraction.
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 *
   <ul class=nav>
       <li class=active><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>

   <div class=nav>
       <div class=nav__item active><a href=#>Home</a></div>
       <div class=nav__item><a href=#>About</a></div>
       <div class=nav__item><a href=#>Portfolio</a></div>
       <div class=nav__item><a href=#>Contact</a></div>
   </div>

 *
 */

@function rgba2rgb($rgba, $background) {
    $rgb: rgb(red($rgba), green($rgba), blue($rgba));
    $alfa: alpha($rgba);
    @return mix($rgb, $background, $alfa*100%);
}

@mixin set-bg($rgba, $background) {
    background: rgba2rgb($rgba, $background);
    background: $rgba;
    *background: rgba2rgb($rgba, $background); /* IE 7 */
}

@mixin set-color($rgba, $background) {
    color: rgba2rgb($rgba, $background);
    color: $rgba;
    *color: rgba2rgb($rgba, $background);
}

@mixin set-border-color($rgba, $background) {
    border-color: rgba2rgb($rgba, $background);
    border-color: $rgba;
    *border-color: rgba2rgb($rgba, $background);
}

.nav {
    @extend %inline-block;
    @include font-size($nav-font-size);
    font-family: $nav-font-family;
    list-style: none;
    margin: 0;
    padding: 0;
    > li,
    > .nav__item {
        float: left;
        margin: 0;
        padding: 0;
        > a {
            display: block;
            margin: 0 1px 1px 0;
            padding: $gap-base;

           //
            text-decoration: none;


            &:hover, &:focus, &:active {
                color: $nav-hover-color;
                background: $nav-hover-bg;
            }
        }
    }

    > .active > a {
        color: $nav-active-color;
        @include gradient-vertical($nav-active-bg, $body-bg);
    }

}

/**
 * Alternative, more general form to highlight active (current) nav item
 */
#index .nav > li.index,
#graphics .nav > li.graphics,
#contact .nav > li.contact,
#index .nav > .nav__item.index,
#graphics .nav > .nav__item.graphics,
#contact .nav > .nav__item.contact {
    a {
        //color: $nav-active-color;
      //  @include gradient-vertical($nav-active-bg, $body-bg);
        //border-bottom: 2px solid $brand-color;
        @include gradient-vertical(rgba($link-color, 1), rgba($link-color, 0));
        color: white;
       // margin: 0;
    }
}

/**
 * `.nav--skin` extends `.nav` Add decorations (at the moment borders) to nav and nav__items
 */
.nav--skin {
    > li,
    > .nav__item {
        > a {
            border: 1px solid;
            margin: 0;
        }
    }
}

/**
 * `.nav--banner` extends `.nav` increases paddings  and  centres the text
 */
.nav--banner {
    >li >a,
    > .nav__item > a {
        padding: $gap-small $gap-base;
        text-align: center;
    }
}

/**
 * `.nav--column` extends `.nav` and throws the list into vertical mode.
 *  On small screens occupies full screen
 */

.nav--column {
    > li,
    > .nav__item {
        float: none;
        display: block;
        a {
            border-bottom: none;
            border-right: 1px solid rgba(255, 255, 255, 0.3);;
        }

    }

    @include breakpoint(small) {
        width: 98%;
        > li,
        > .nav__item {
            width: 100%;
            > a {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

/**
 * `.nav--2column` extends `.nav` and throws the list into vertical mode with 2 columns.
 *  On small screens each column occupies half of the screen
 */

.nav--2column {
    > li,
    > .nav__item, {
        display: block;
        width: 50%;
    }

    @include breakpoint(small) {
        width: 98%;
    }
}

/**
 * `.nav--flip` extends `.nav`   And  throws the list into vertical mode only on big screens.
 */
.nav--flip {
    @include breakpoint(big) {
        > li,
        > .nav__item {
            display: block;
        }
    }
}







