/************************************************************************************
 NAVBAR
*************************************************************************************/

/**
 * NAVBAR is a container for navigation [ .nav ]
 */

.navbar {
   @extend %inline-block;
    //border-bottom: 1px solid $nav-color;
}

.navbar--left {
    float: left;
    margin-right: $gap-small;
}

.navbar--right {
    float: right;
    margin-left: $gap-small;
}