/************************************************************************************
    Page footer
*************************************************************************************/

.page-footer {
    @extend .inverse;
    .page-footer__figure {
        @extend %inline-block;
        max-width: 100%;
        margin-top: $gap-large;
        padding: $gap-small;

        img {
            margin-top: 0;
        }
    }
}

