/************************************************************************************
COLORS SCHEMES
*************************************************************************************/

@mixin setColorTheme($background, $text, $headings, $border) {
    background: $background;
    color: $text;
    text-shadow: none;

    h1, h2, h3, h4, h5, h6 {
        color: $headings;
    }

    .title {
        color: $gray;
    }

    hr {
        border-color: $border;
    }
}

body {
    @include setColorTheme($inverse-bg, $inverse-color, $inverse-headings, $inverse-border);

}

.post, .thumbnails > li, .thumbnail {
    @include setColorTheme($body-bg, $text-color, $headingsColor, $base-border-color);
}

.page-footer, .page-header, .theme {
    @include setColorTheme($inverse-bg, $inverse-color, $inverse-headings, $inverse-border);
    text-shadow: none;

    .nav--bordered {
        >li >a {
            border-color: $inverse-border;
        }
    }

}

.page-header {
  //  @include gradient-vertical($themeColor1, $themeColor2);
}

.page-footer {
    .page-footer__figure {
        background: $theme-bg-light;
        @include gradient-vertical($inverse-bg, $theme-bg-light);
        color: $gray;
    }
}

.theme {
    background: $inverse-bg;
}

/*----------------------------------Mono-colors---------------------------------------------*/

$greyDarkBackground: $gray;
$greyDarkText: white;
$greyDarkHeadings: #ece0e0;
$greyDarkBorder: lighten($greyDarkBackground, 10%);

.grey-dark {
    @include setColorTheme($greyDarkBackground, $greyDarkText, $greyDarkHeadings, $greyDarkBorder);
}

$greyLightBackground: #eee;
$greyLightText: $text-color;
$greyLightHeadings: black;
$greyLightBorder: darken($greyLightBackground, 10%);

.grey-light {
    @include setColorTheme($greyLightBackground, $greyLightText, $greyLightHeadings, $greyLightBorder);
}










