/************************************************************************************
    Alerts. Notification Messages
*************************************************************************************/


@mixin colors($background, $color) {
    background: $background;
    color: $color;
    border-color: darken($background, 10%);
}

%alert {
    margin: $gap-large 0;
    padding: $gap-base;
    border: 1px solid;
    @include border-radius();
}

.alert-info {
     @extend %alert;
     @include colors($alert-info-bg, $alert-info-text);
 }

 .alert-success {
     @extend %alert;
     @include colors($alert-success-bg, $alert-success-text);
 }

 .alert-warning {
     @extend %alert;
     @include colors($alert-warning-bg, $alert-warning-text);
 }

 .alert-error {
     @extend %alert;
     @include colors($alert-error-bg, $alert-error-text);
 }



