/************************************************************************************
COVER.
*************************************************************************************/

/**
 *  Cover is a kind of intro block (normally page title, may be some background or lead img, author info and so on)
 */

%cover-base {
    @extend %text-normalize;
    padding-top: $gap-mini;

    > cite {
        @include font-size($cover-cite-font-size);
    }
}

.cover {
    @extend %cover-base;

}



.cover-dark {
     @extend %cover-base;
     @extend .dark;
     padding-top: $gap-small;
     padding-bottom: $gap-large*2;

    .aphorism {
          @include font-size($aphorism-font-size-large);
     }
}


.cover-img {
    @extend .cover-dark;
    @extend %image-bg;
    padding-top: $gap-huge;

    @include breakpoint(small) {
        padding-top: $gap-mini;
    }
}

