/************************************************************************************
Hero
*************************************************************************************/

.hero {
    float: right;
    margin: $gap-base;
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 0;
    padding-bottom: $gap-small;
    text-align: center;
   // border-bottom: 1px solid $hero-border-color;
    @include font-size($hero-font-size);

    h1, h2, h3 {
        margin: 0;
        @include font-size($hero-h1);
    }

    @include breakpoint(small) {
        margin-top: $gap-base;
     }

    .button {
        margin: $gap-small 0;
    }
}

