/************************************************************************************
Icons
*************************************************************************************/

.icon-phone {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}