/************************************************************************************
    BACKGROUND IMAGE
*************************************************************************************/

.image-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-image: url(../header-bg.jpg);
}


