/************************************************************************************
 LOGO, BRAND
*************************************************************************************/


.ball {
  background-color: $link-color;
  //border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}

.ball1 {
  background-color: $link-color;
  //border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.2) 0%, transparent 100%);
}





.logo {
    @extend .ball;
    @include inline-block;
    font-family: $brand-font-family;
    @include border-radius(50%);
    text-align: left;
    padding: ($gap-huge+$gap-mini) $gap-small;
    line-height: 1;

    color: #440000;
    text-shadow: 0 1px 1px rgba(white, 0.6);

    &:hover, &:focus, &:active {
        color: #440000;
        text-shadow: 0 1px 1px rgba(white, 0.6);
        box-shadow: none;
        text-decoration: none;

    }
}


.logo--top {
    padding: $gap-base $gap-small;
    margin-top: $gap-mini;
    margin-left: $gap-small;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    @include breakpoint(small) {
        margin-top: $gap-small;
    }
}
