/************************************************************************************
MEDIA
*************************************************************************************/

/**
* Place an media__object (img, video, audio) and corresponding textual content - media__body (.blocktext) side-by-side.
* Used for thumbnails, blog comments, Tweets and any page blocks with img and corresponding text
**/

/**
* Original non-responsive version like in Bootstrap
* Source: http://stubbornella.org/content/?p=497
**/


.media {
     @extend %clearfix;
     margin-top: $gap-base;
     > .media__object {
         float: left;
         width:50%;

        > img {
             float: right;
             margin-top: 0;
             margin-right: $gap-base;
             margin-left: $gap-base;
             border: 1px solid;
           }
     }

    > .media__body {
        float: left;
        width:50%;

        > .blocktext {
            float: left;
        }
    }

// Change left-right-aligned to top-bottom-aligned on small screens
// -------------------------------
    @include breakpoint(small) {
        > .media__object {
            float: none;
            width: auto;
            margin-bottom: $gap-base;

            > img {
                 float: none;
                 @extend %pull-center;
               }
        }

        > .media__body {
             float: none;
             width: auto;

            > .blocktext {
                 float: none;
                 @extend %pull-center;
               }
         }
    }
}



// Media object (img) on the right
// -------------------------------

.media--reverse {
    > .media__object {
        float: right;

        > img {
              float: left;
            }
    }

    > .media__body {
        float: right;

        > .blocktext {
            float: right;
        };
    }
}


