/************************************************************************************
COVER.
*************************************************************************************/

/**
 *  Cover is a kind of intro block (normally page title, may be some background or lead img, author info and so on)
 */

.page-cover {
    @extend %text-normalize;
    padding-top: $gap-small;


    .subtitle {
        margin-top: $gap-base;
        @include font-size($cover-subtitle-font-size);
    }

    cite {
        @include font-size($cover-cite-font-size);
    }
}



.page-cover-img {
    @extend .page-cover;
    @extend .dark;
    @extend %image-bg;
    padding-top: $gap-huge;
    padding-bottom: $gap-large*2;

    @include breakpoint(small) {
        padding-top: $gap-mini;
    }

}

