/************************************************************************************
    Page footer
*************************************************************************************/

.page-footer-img {
  padding-bottom: $gap-large;
}


.page-footer {
    padding-bottom: $gap-large;
    min-height: 15em;
    background: $dark;
    @extend .img-colors;
}



