/************************************************************************************
Post, Articles
*************************************************************************************/

.post-preview {
    padding: $gap-base;
    text-align: left;
    margin: $gap-base;

    p {
        margin-top: $gap-base;
        margin-bottom: 0;
    }

    h1, h2, h3, h4 {
        @include font-size($font-size-h4);
        margin-top: 0;
        border: none;
        text-align: center;
    }
}