/************************************************************************************
    PullQuotes
*************************************************************************************/

/* use to  mark out some text as PullQuote but without pulling  */

.pullquote {
    @include font-size($pullquote-font-size);
    margin-top: $gap-huge;
    margin-bottom: $gap-huge;
    text-align: center;

    &:first-child  {
       // margin-top: 0
    }
}

.pullquote:before, .pullquote:after {
    @extend %pull-center;
    display: block;
    width: $pullquote-border-length;
    height: $pullquote-border-width;
    background-color: $pullquote-border-color;
    content: "\200B"
}

.pullquote:before {
    margin-bottom: $gap-small;
}

.pullquote:after {
    margin-top: $gap-small;
}


/*-----------------------Style with text-align: right and left accordingly-------------------------*/

.pullquote-left, .pullquote-right {
    @include inline-block;
    @include max-width ($width-text);
    @extend %caption-color;
    margin: $gap-large;
    margin-bottom: 0;
    padding: $gap-base;
    border-top: $pullquote-border-width solid $pullquote-border-color;
    border-bottom: $pullquote-border-width solid $pullquote-border-color;
    text-align: center;
}

.pullquote-right {
    @include breakpoint(big) {
        @include max-width ($pullquote-width);
        float: right;
        border: none;
        border-left: $pullquote-border-width solid $pullquote-border-color;
        padding: 0;
        padding-left: $gap-mini;
        margin-bottom: $gap-base;
        margin-left: $gap-base;
    }
}

.pullquote-left {
    @include breakpoint(big) {
        @include max-width ($pullquote-width);
        float: left;
        border: none;
        border-right: $pullquote-border-width solid $pullquote-border-color;
        padding: 0;
        padding-right: $gap-mini;
        margin-bottom: $gap-base;
        margin-right: $gap-base;

    }
}

