/************************************************************************************
Tables
*************************************************************************************/


.table-2-column {
    text-align: center;
    p {
        @include inline-block;
        width: 47%;
        text-align: left;
        padding: $gap-base;
        margin: 0;

        @include breakpoint(small) {
            display: block;
            width: auto;
        }
    }

    p:nth-child(4n),
    p:nth-child(4n-1) {
        @extend .highlight;
    }
}
