/************************************************************************************
 Thumbnails.
*************************************************************************************/

/**
 * Thumbnails are used to organize preview of blog posts, articles...
 * or to easily display grids of images, videos, texts and so on.
 * Thumbnail usually contain: img, .blocktext, .media...


  <div class="thumbnail">
     <img src="...">
 </div>


 <img class="thumbnail" src="...">


 <div class="thumbnail">
     <img src="...">
     <div class="blocktext">
         <h2>Заголовок</h2>
         <p>
             Какой-то текст или описание
         </p>
     </div>
     <div><a class="button" href="...">Далее</a></div>
 </div>


 <div class="thumbnail">
     <div class="media">
          ....
     </div>
     <div><a class="button" href="...">Далее</a></div>
 </div>
 **/

.thumbnail {
    display: block;
 //   @extend %inline-block;
    border: 1px solid;
    border-radius: $border-radius;
    padding: $gap-mini;
    margin: $gap-base $gap-small;
    img {
        margin: 0;
        border: none;
    }
}


// Add a hover state for linked versions only
a.thumbnail,
a.thumbnail {
    cursor: pointer;
    text-align: center;
    padding: $gap-small;
    margin: $gap-small;
    text-decoration: none;
    background: $link-color;
    color: white;
    font-family: $inverse-font-family;

    &:hover, &:focus, &:active {
        background: $brand-color;
        color: white;
        text-decoration: none;
    }
}



// Helper class for js that makes all inside
// .thumbnails of equal height
// ------------------------------------------
.thumbnail-container {}







