/************************************************************************************
vCard
*************************************************************************************/

// class to organize contact info
// ------------------------------

.vCard {
      @extend %inline-block;
      padding: $gap-base;
      text-align: left;

      .phone, .address {
          color: $accent-color;
      }
}