---

layout: default

---

{% assign LANGUAGE = page.categories[0] %}
{% assign CATEGORY = page.categories[1] %}
{% capture SUBNAV %}{{ CATEGORY }}_{{ LANGUAGE }}{% endcapture %}


{% if site[SUBNAV] %}
{% for link in site[SUBNAV] %}
<h2>{{ link.name }}</h2>
<div class="row thumbnail-container">
{% assign SUBCATEGORY = link.folder %}
{% for post in site.categories[SUBCATEGORY] %}
{% if post.categories[0] == LANGUAGE and post.categories[1] == CATEGORY and post.title != "Index" %}

    <div class="column-third">
        <div class="thumbnail highlight">
            <div class="blocktext">
                <h3 class="blocktext__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

                <p>
                    {{ post.excerpt }}
                </p>
            </div>
        </div>
    </div>
{% endif %}
{% endfor %}
</div>
{% endfor %}
<hr>
{% endif %}

{% for post in site.categories[CATEGORY] %}
{% if (post.categories[2] == null) and (post.categories[0] == LANGUAGE) and (post.title != "Index") %}
<div class="row thumbnail-container">
    <div class="column-third">
        <div class="thumbnail highlight">
            <div class="blocktext">
                <h3 class="blocktext__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

                <p>
                    {{ post.excerpt }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>

