{% include head.html %}
{% include header.html %}

</div>
<!--  end page-header    -->
<div class="section highlight">
    <div class="post">
        <H1>{{ TITLE }}</H1>
        {% if page.subtitle %}
        <h2 class="subtitle">{{ page.subtitle }}</h2>
        {% endif %}
        {% if page.author %}
        <cite class="cite--big">{{ page.author }}</cite>
        {% endif %}

        {% if page.aphorism %}
        <div class="pullquote-open">{{ page.aphorism }}</div>
        {% endif %}
        {% if page.img %}
        <img src="{{site.img}}/{{page.img}}"/>
        {% endif %}
        {{ content }}
    </div>

    <div class="row thumbnail-container">
        {% if page.next %}
        <div class="column-half">
            <a class="thumbnail" href="{{page.next.url}}" title="{{ page.next.title }}">
                &#8592; {{ page.next.title }}
            </a>
        </div>
        {% endif %}

        {% if page.previous %}
        <div class="column-half">
            <a class="thumbnail" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
                {{ page.previous.title }} &#8594;
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <a class="button button--filled" href="{{ CATEGORY_URL }}">{{ CATEGORY_NAME }} &#94;</a>
    </div>
</div>
<!-- Отключены комменты
<div class="comments">
    <div id="disqus_thread"></div>
</div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 -->
{% include footer.html %}
{% include foot.html %}








